.welcome {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 150px 0px;

    .welcome-body {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        p {
            font-size: 20px;
            color: var(--white);
            max-width: 1200px;
        }

        .animated-button {
            margin-top: 40px;
            overflow: hidden;
            padding: 10px 0px;
        }
    }
}

@media screen and (max-width: 1024px) {
    .welcome {
        padding: 10px 0px 50px;

        .welcome-body {

            h1 {
                font-size: 40px;
                margin-bottom: 20px;
            }

            p {
                font-size: 16px;
            }

            a {
                margin-top: 40px;
                font-size: 16px;

                &::after {
                    content: '→';
                    font-size: 20px;
                }
            }
        }
    }
}