.todo {


    .header-items {
        padding: 50px 0px 100px;
        display: flex;
        justify-content: space-between;

        p {
            color: var(--white);
            font-weight: 500;
            font-size: 25px;
        }
    }

    .date {
        text-align: center;
        margin-bottom: 50px;

        h1 {
            margin-bottom: 0px;
        }
    }

    .todo-list {
        .todo-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
        }
    }

    .add-button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px;
        position: fixed;
        right: 50px;
        bottom: 50px;
        border-radius: 100%;
        border: none;
        cursor: pointer;
        transition: all ease .5s;

        &:hover {
            scale: 1.1;
            box-shadow: 0px 0px 30px 0px rgb(0, 0, 0);
        }
    }
}