.todo {
    padding: 120px 0px 0px;

    .date {
        text-align: center;
        margin-bottom: 50px;

        h1 {
            font-size: 30px;
            color: var(--white);
            font-weight: 500;
        }
    }

    .add-button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px;
        position: absolute;
        right: 50px;
        bottom: 50px;
        border-radius: 100%;
        border: none;
        cursor: pointer;
    }
}